# --- Python / Conda / venv ---
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
develop-eggs/
eggs/
sdist/
var/
wheels/
*.egg
*.manifest
*.spec
*.cfg
pip-wheel-metadata/
*.log # Игнорировать файлы логов по умолчанию

# Виртуальные окружения
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
conda_env/
ortho_env/
ortho_analyzer_env/

# Исключаем большие модели
models/*.pt
models/*.pth
models/*.h5
models/*.onnx
models/*.engine
models/*.pb
!models/.gitkeep
!models/*.txt
!models/*.md

# --- IDE / Редакторы ---
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
nbproject/
*.DS_Store # macOS
Thumbs.db # Windows

# --- Временные файлы ОС ---
*~
*.swp
*.swo

# .secrets
# secrets.yaml
# *.env
